<!DOCTYPE html>
<html lang="en">
<head>
  <title>Style transfer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>


<div class="jumbotron">
  <div class="container text-center">
    <h2>Style transfer using pytorch</h2>      
   
  </div>
</div>
  
<div class="container-fluid bg-3 text-center">    
  
  <div class="row">
    <div class="col-sm-2">
      </div>
    <div class="col-sm-4"> 
      <h3>content image</h3>
      <img src="../static/image/upload/content.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <h3>styled image</h3>
      <img src="../static/image/upload/target.png" class="img-responsive" style="width:100%" alt="Image">
    </div>
     <div class="col-sm-2">
       </div>
    
  </div>
<br/>
<br/>

</div>

</body>
</html>